/* Header */
.home-header {
    text-align: center;
    padding: 30px 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.home-header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #4caf50, #0e76a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.home-header p {
    font-size: 1rem;
    color: white;
    margin: 15px 0;
    line-height: 1.6;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 3% 0;
}

.home-link {
    font-size: 1rem;
    text-decoration: none;
    padding: 1.5% 3%;
    border-radius: 5px;
    color: white;
    background: #444;
}

.home-link:hover {
    background: #666;
    transform: translateY(-3px);
}

.home-link.linkedin {
    background: #084a8a;
}

.home-link.linkedin:hover {
    background: #0e76a8;
}

.home-link.github {
    background: #444;
}

.home-link.github:hover {
    background: #555;
}

.home-link.amazon {
    background: #b36b00;
}

.home-link.amazon:hover {
    background: #ff9900;
}

/* About me Section after bootstrap addition */

.about-me {
    background-color: #ff69b4;
}

.about-text {
    font-size: 1.2rem;
    min-width: 200px;
    line-height: 1.6;
}

.about-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.about-text p {
    margin: 10px 0;
    color: #fff;
}

.image-grid{
    min-width: 200px;
}

@media (max-width: 575px){
    .about-me .image-grid {
        max-width: 70%;
    }
}

@media (min-width: 1200px) {
    .about-me .image-grid {
        max-width: 70%;
        margin-left: auto;
        margin-right: 0;
    }
}

.about-me-image.linkedin-image {
    border: 3px solid white;
}


.Education {
    /* position relative is necessary for svg */
    position:relative;
    background-color: #4682b4;
    padding: 5vh 0;
    color: #fff;
}

.education-content {
    margin-top: 20vh;
}

.education-text {
    font-size: 1.2rem;
    line-height: 1.6;
}

.education-text h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5%;
    color: #fff;
}

.education-text p {
    color: #f0f0f0;
}

.education-image-wrapper {
    max-width: 100%;
}

@media (max-width: 575px) {
    .education-image-wrapper {
        max-width: 70%;
    }
}

.custom-shape-divider-top-1737780762 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737780762 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
}

.custom-shape-divider-top-1737780762 .shape-fill {
    fill: #FF69B4;
}

/* Projects Section */

.Projects {
    background: #FFA500;
    padding-top: 20vh;
    padding-bottom: 10vh;
    position:relative;
}

.custom-shape-divider-top-1737781272 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1737781272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1737781272 .shape-fill {
    fill: #4682B4;
}

.Projects h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.Projects .card{
    background-color: #1e1e1e;
    color: #f5f5f5;
}


/* Skills Section */


.Skills {
    position: relative;
    background: #32CD32;
    padding-top: 20vh;
    padding-bottom: 10vh;
    color: #fff;
}
.custom-shape-divider-top-1737781070 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737781070 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-top-1737781070 .shape-fill {
    fill: #FFA500;
}

.Skills-text {
    flex: 1.2;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7;
    color: hsl(0, 0%, 94%);
}

.Skills-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.Skills-text p {
    margin: 15px 0;
}


/* Timeline Section */


.timeline-section {
    background: #9400D3;
    padding-top: 15vh;
    position: relative;
}



.custom-shape-divider-top-1737781375 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737781375 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 119px;
}

.custom-shape-divider-top-1737781375 .shape-fill {
    fill: #32CD32;
}

.timeline-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.timeline-section h6{
    color:white;
}

.timeline-section body2{
    color: #1e1e1e;
}

/* Map Section */

.map-section {
    position: relative;
    background-color: #555;
    width: 100%;
    padding: 20vh;
}

.map-section h1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5%;
}

  .custom-shape-divider-top-1761695006 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1761695006 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1761695006 .shape-fill {
    fill: #9400D3;
}

  .MapHeader {
    width: 80%;
    margin: 0 auto;
  }
  
  .MapHeader h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }
  
  .map-container {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .mapboxgl-canvas {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  