/* About me Section after bootstrap addition */

.about-me {
    background-color: #ff69b4;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    padding-bottom: 2%;
}
a
.about-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.about-text p {
    margin: 1%;
    color: #fff;
}

@media (max-width: 767px){
    .about-me .image-grid {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .about-me .image-grid {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.about-me-image.linkedin-image {
    border: 3px solid white;
}


.Education {
    /* position relative is necessary for svg */
    position:relative;
    background-color: #4682b4;
    color: #fff;
}

.Education h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5%;
    color: #fff;
}

.education-content {
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.education-text {
    font-size: 1.2rem;
    line-height: 1.6;
}

.education-text p {
    color: #f0f0f0;
}

.education-image-wrapper {
    max-width: 100%;
}

@media (max-width: 768px) {
    .education-image-wrapper {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

.custom-shape-divider-top-1737780762 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737780762 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 194px;
}

.custom-shape-divider-top-1737780762 .shape-fill {
    fill: #FF69B4;
}

/* Projects Section */

.Projects {
    background: #FFA500;
    padding-top: 20vh;
    padding-bottom: 10vh;
    position:relative;
}

.custom-shape-divider-top-1737781272 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1737781272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1737781272 .shape-fill {
    fill: #4682B4;
}

.Projects h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.Projects .card{
    background-color: #1e1e1e;
    color: #f5f5f5;
}

@media (max-width: 992px) {
    .Projects .card {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}



/* Skills Section */


.Skills {
    position: relative;
    background: #32CD32;
    padding-top: 20vh;
    padding-bottom: 10vh;
    color: #fff;
}
.custom-shape-divider-top-1737781070 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737781070 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-top-1737781070 .shape-fill {
    fill: #FFA500;
}

.Skills-text {
    flex: 1.2;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7;
    color: hsl(0, 0%, 94%);
}

.Skills-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.Skills-text p {
    margin: 15px 0;
}


/* Timeline Section */


.timeline-section {
    background: #9400D3;
    padding-top: 20vh;
    padding-bottom: 10vh;
    position: relative;
}



.custom-shape-divider-top-1737781375 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1737781375 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 119px;
}

.custom-shape-divider-top-1737781375 .shape-fill {
    fill: #32CD32;
}

.timeline-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
}

.timeline-section h6{
    color:white;
}

.timeline-section body2{
    color: #1e1e1e;
}

/* Map Section */

.map-section {
    position: relative;
    background-color: #555;
    width: 100%;
    padding: 20vh 0;
}

.map-section h1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5%;
}

  .custom-shape-divider-top-1761695006 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1761695006 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider-top-1761695006 .shape-fill {
    fill: #9400D3;
}

  
.MapHeader h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }
  


.map-container {
    height: 80vh;
    border-radius: 10px;
}

@media (max-width: 575px) {
    .map-container {
        min-width:300px;
    }
}
  

  